<h1><%= t('.title') %></h1>

<%= render partial: 'category', collection: @categories %>

<%= link_to t('categories.new.title'), new_category_path %>
<br>
<%= link_to t('common.back_to_products'), products_path %>
